body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure,
figcaption,
blockquote,
pre,
hr,
fieldset,
legend,
button,
input,
textarea,
th,
td {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}

body {
   line-height: 1;
   color: red;
}

ol,
ul {
   list-style: none;
}

button,
input,
textarea,
select {
   font-family: inherit;
}

img,
video {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
   display: block;
}
